# Ignore JSON files
*.json

# Ignore CMake-generated build directories and files
/build/
CMakeCache.txt
/CMakeFiles/
cmake_install.cmake

# Ignore generated Makefiles
Makefile
build.ninja

# Ignore object files
*.o
*.obj

# Ignore executables and shared libraries
*.exe
*.dll
*.so
*.dylib

# Ignore IDE or editor-specific files
*.swp
*~
.vscode/
